@tailwind base;
@tailwind components;
@tailwind utilities;

.ShowNoScrollBar::-webkit-scrollbar {
    display: none;
}

.customScroller::-webkit-scrollbar-thumb {
    background-color: #116466;
    border-radius: 9px;
}

.customScroller::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.customScroller::-webkit-scrollbar {
    width: 10px;
}

body {
    overflow-y: hidden;
}